@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dark ::-webkit-scrollbar-thumb {
    background: #444;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #666;
}

/* Light mode styles */
:root {
  --highlight-color: #2563eb; /* Blue-600 for light mode */
}

/* Dark mode styles */
.dark {
  --highlight-color: #64ffda; /* Original teal for dark mode */
}

.light,
html:not(.dark)  {
    color: #3b82f6; /* Blue-500 in light mode */
}

.light-mode-whoami,
html:not(.dark) .light-mode-whoami {
    color: var(--highlight-color);
}

.dark .dark-mode-whoami,
html.dark .dark-mode-whoami {
    color: var(--highlight-color);
}